a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#color_black_green {
    background-color: #222601;
}

#color_white_green {
    background-color: #838C3B;
}